{{ define "main" }}
<div class="text-center mv-xl">
    <p>Oops! You seem to have found the place where I procrastinate.</p>
    <img src="{{ .Site.BaseURL }}/404.jpg" alt="page not found image">
    <p>There's nothing here. :(<br/>you can check out my latest works <a class="link" href="{{ .Site.BaseURL }}">here</a></p>
</div>
{{ end }}
