{{ define "main" }}
<p class="intro-text"> Hi, I am Raghavendra Kamath (raghukamath), an Illustrator and Designer from Mumbai India.
	I use only Free (libre) and Open Source tools to create illustrations, comic book pages, book covers and visual for ads &hellip; <br>
		<a href="{{ .Site.BaseURL }}about" class="link">Read more about me <span class="arrow">&rarr;</span></a>
		</p>
<hr class="divider">
{{.Content}}
<section class="content">
	<h2>Portfolio</h2>
	<div class="list grid-of-three">
		{{ range first 9 (where .Site.RegularPages "Section" "works") }}
		<div class="work-post">
			<a href="{{ .RelPermalink }}">
				<img class="thumb" src="{{ .Params.workthumb }}" alt="{{ .Title }}-thumb">
			</a>
		</div>
		{{ end}}
	</div>
	<a href="{{ .Site.BaseURL }}/works" class="link">See more of my work<span class="arrow">&rarr;</span></a>
</section>
<hr class="divider">
<section class="content">
	<h2>Blogroll</h2>
	<div class="grid-of-two list h-feed">
		{{ range where .Site.RegularPages "Section" "journal" }}
		<article class="post h-entry">
			<header>
			<a href="{{ .RelPermalink }}">
				<img class="thumb" src="{{- .Params.thumb -}}" alt="{{ .Title }}-thumb">
			</a>
				<h2 class="p-name"><a class=" u-url title-link" href="{{ .RelPermalink }}">{{ .Title }}</a></h2>
					{{- partial "meta-post.html" . -}}
			</header>
			<p class="summary p-summary">{{ .Description | truncate 120 }}</p> <a class="link btn" href="{{ .RelPermalink }}">Read More<span class="arrow"> &rarr;</span></a>
		</article>
		{{ end }}
	</div>
</section>
        <section hidden class="u-author h-card">
        <div hidden>
         <img class="u-photo" src="https://raghukamath.com/img/dp.jpg" alt="profile picture of Raghavendra Kamath">
        <p>
        <a class="u-url" rel="me" href="{{.Site.BaseURL}}">
        <span class="p-name">Raghavendra Kamath</span>
        </a>
        <span class="p-nickname">
            raghukamath
        </span>
        <span class="p-org">emblik.sutdio </span>
            <span class="p-locality">Mumbai</span>
            <span class="p-country-name"> India</span>
            <span class="p-note">Illustrator, Designer, comic book lover and Free Software enthusiast. Founder emblik.studio</span>
            <a class="u-email" href="mailto:raghu@raghukamath.com">raghu at raghukamath dot com </a>
        </p>
        </div>
        </section>
{{ end }}
