{{ define "main" }}
	<h2 class="tag-title">Posts tagged as {{ .Title }}</h2>
<main class="grid-of-two content list tag-list h-entry">
	{{ range .Pages }}
	<article class="tag post h-entry">
			<a href="{{ .RelPermalink }}">
				<img class="thumb" src="{{- .Params.thumb -}}" alt="{{ .Title }}-thumb">
			</a>
			<header>
				<h2 class="p-name"><a class="title-link" href="{{ .RelPermalink }}">{{ .Title }}</a></h2>
				{{- partial "meta-post.html" . -}}
			</header>
			<p class="summary p-summary">{{ .Description | truncate 120}} </br> <a class="link" href="{{ .RelPermalink }}">Read More<span class="arrow"> &rarr;</span></a></p>
	</article>
	{{ end }}
</main>
{{ end }}
