<div class="comments">
	<h2>Comments</h2>
	<div id="commento"></div>
	<script src="https://commento.emblik.studio/js/commento.js"></script>
	<noscript> Comments on this website require javascript to be enabled, but I respect your decision to disable it. You can mail me your comment at <a class="link" href="mailto:raghu@raghukamath.com?Subject=comment on {{ .Title }}">raghu at raghukamath dot com</a></noscript>
</div>
