<hr class="divider">
<footer class="footer" >
	<section class="content">
		<h3>Tag List</h3>
		<ul class="tag-cloud">{{ range $name, $taxonomy := .Site.Taxonomies.tags }}
			{{ with $.Site.GetPage (printf "/tags/%s" $name) }}
			<li class="tag-list-item"><a class="tag-link" href="{{ .Permalink }}">{{ $name }}</a></li>
			{{ end }}
			{{ end }}
		</ul>
	</section>
	<section class="content">
		<h3>Quick Links</h3>
		<p>
			<a rel="noreferrer nofollow" target="_blank" href="https://www.paypal.me/raghukamath">Donate</a> &ndash;
			<a href="https://box.raghukamath.com/cloud/index.php/s/2dbZ8tyaFcPqABK">Source Files</a> &ndash;
			<a href="{{ .Site.BaseURL }}tutorials">Tutorials</a> &ndash;
			<a href="{{ .Site.BaseURL }}talks">Talks</a> &ndash;
			<a href="{{ .Site.BaseURL }}reading">Reading List</a> &ndash;
			<a rel="noreferrer nofollow" target="_blank" href="http://mastodon.art/@{{ .Site.Data.usernames.mastodon }}">Mastodon</a> &ndash;
			<a rel="noreferrer nofollow" target="_blank" href="https://dribbble.com/raghukamath">Dribbble</a> &ndash;
			<a rel="noreferrer nofollow" target="_blank" href="https://raghukamath.redbubble.com">Prints on Redbubble</a> &ndash;
			<a rel="noreferrer nofollow" rel="me" target="_blank" href="https://gitlab.com/{{ .Site.Data.usernames.gitlab }}">Gitlab</a> &ndash;
			<!--<a href="{{ .Site.BaseURL }}/Shop">Shop</a>,-->
			{{ if .IsPage }}
			<a href="/index.xml">RSS Feed</a>
			{{ else }}
			<a href='{{ with .OutputFormats.Get "rss" -}}{{ .RelPermalink }}{{ end }}'>RSS Feed</a> {{ end }}
		</p>
	</section>
	<section class="content">
		<h3>Privacy Policy, License and Copyright</h3>
		<p> All contents © copyright 2009 -
			{{ now.Year }} <a class="p-author" rel="author" href="{{ .Site.BaseURL}}">Raghavendra Kamath</a> and
			respective brands unless otherwise
			noted. All rights reserved. Please read the <a class="link" href="{{ .Site.BaseURL }}license">Licenses page</a> and the <a href="{{ .Site.BaseURL }}privacy" class="link">Privacy Policy and Terms Of Service</a> for more detailed information.
		</p>
	</section>
	<a class="to-top with-js" id="js-top">&uarr; go to top &uarr;</a>
	<noscript> <style> .with-js{display:none}</style><a  class="to-top" href="#to-top">&uarr; go to top &uarr;</a></noscript>

</footer>
{{ with resources.Get "js/main.js" | minify }}
<script>{{ .Content | safeJS }}</script>
{{ end }}
