<head>
	<!-- Made with Hugo, Html and css by raghukamath -->
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>{{ .Title }}{{ if not .IsHome }} &middot; {{ .Site.Title }}{{ end }}</title>
	{{ hugo.Generator }}
	<meta property="og:title" content="{{ .Title }}">
	{{ if .IsPage }}
	<meta property="og:type" content="article">
	<meta property="article:published_time" content="{{ .Date.Format "2006-01-02" }}">
	{{ else }}
	<meta property="og:type" content="website">
	{{ end }}
	<meta property="og:description" content="{{ with .Description }}{{ . }}{{ else }}{{ .Site.Params.description }}{{ end }}">
	<meta property="og:url" content="{{ .Permalink }}">
	<meta property="og:site_name" content="{{ .Site.Title }}">
	{{ if .Params.thumb }}
	<meta property="og:image" content="{{ .Site.BaseURL }}{{ .Params.thumb }}">
	{{ end }}
	{{ range .Params.tags }}
	<meta property="og:tags" content="{{ . }}">
	{{ end }}
	{{ if .Description }}
	<meta property="twitter:card" content="{{ with .Description }}{{ . }}{{ else }}{{ .Site.Params.description }}{{ end }}">
	{{ else }}
	<meta property="twitter:card" content="{{ .Title }}">
	{{ end }}
	<meta property="twitter:description" content="{{ with .Description }}{{ . }}{{ else }}{{ .Site.Params.description }}{{ end }}">
	<meta property="twitter:title" content="{{ .Title }}">
	{{ if .Params.thumb }}
	<meta property="twitter:image" content="{{ .Site.BaseURL }}{{ .Params.thumb }}">
	{{ end }}
	<meta name="description" content="{{ with .Description }}{{ . }}{{ else }}{{ .Site.Params.description }}{{ end }}" />
	<meta name="keywords" content="{{with .Keywords}}{{ delimit . ", "}}{{ else }}{{ .Site.Params.keywords }}{{ end }}" />
	<meta name="author" content="{{ .Site.Params.author }}"/>
	{{ with resources.Get "css/main.css" | postCSS | minify}}
	<style>{{ .Content | safeCSS }}</style>
	{{ end }}
	{{ if ne .Title "404 Page not found" }}
	<link rel="canonical" href="{{ .Permalink }}" />
	{{ end }}
	<link href='{{ with .OutputFormats.Get "RSS" }}{{ .RelPermalink }}{{ end }}' rel="feed" type="application/rss+xml" title="{{ .Site.Title }}" />
	<link rel="shortcut icon" href='data:image/svg+xml;utf8, <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 20 20">
			<path fill="dimgray" d="M 1.5784245,1.29e-5 C 0.7043502,1.29e-5 5.62e-5,0.6304957 5.53e-5,1.411756 v 5.2368184 c -0.00722,0.734249 0.699614,0.8305 0.8965527,0.7296 C 1.8825073,7.1282664 2.8802978,6.6913154 3.8599187,6.0498173 5.6943191,4.8485862 7.1384599,3.0174608 7.9364507,0.9967327 8.0722667,0.7990405 8.0132097,-0.0036492 7.2839899,1.29e-5 Z M 14.278415,0.4991697 c -0.902174,3.3100647 -3.017011,6.4521807 -6.1258333,8.7955337 -0.205474,0.129347 -0.555404,0.7420766 0.05888,1.1680776 3.5232983,1.979652 6.5489023,4.753277 8.7268293,7.869792 0.318455,0.455606 0.737799,0.335579 0.895162,0.286448 0.542041,-0.221794 0.916598,-0.708904 0.916598,-1.278922 V 1.411756 C 18.750052,0.6304957 18.047588,1.29e-5 17.173513,1.29e-5 h -2.23938 c -0.495735,0.022885 -0.64281,0.420673 -0.655722,0.4991568 z M 5.53e-5,13.595595 v 3.744504 c 0,0.781261 0.7042949,1.409913 1.5783692,1.409913 H 9.4629447 C 10.242846,18.700784 10.276682,17.872375 9.9543667,17.560986 8.7135277,16.312972 7.2834865,15.243361 5.7678772,14.447033 4.0553405,13.54724 2.3478326,13.034491 0.7538165,12.90386 0.6112358,12.886553 0.0403387,12.9628 5.53e-5,13.595595 Z"/>
		</svg>'>
	<link rel="me" href="https://mastodon.art/@{{ .Site.Data.usernames.mastodon }}"/>
	<link rel="author" href="https://mastodon.art/@{{ .Site.Data.usernames.mastodon }}"/>
	<link rel="me" href="https://twitter.com/{{ .Site.Data.usernames.twitter }}"/>
</head>
