<header id="to-top" class="site-header">
	<a class='logo' href="{{ .Site.BaseURL }}">
		<svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 20 20">
			<path fill="currentColor" d="M 1.5784245,1.29e-5 C 0.7043502,1.29e-5 5.62e-5,0.6304957 5.53e-5,1.411756 v 5.2368184 c -0.00722,0.734249 0.699614,0.8305 0.8965527,0.7296 C 1.8825073,7.1282664 2.8802978,6.6913154 3.8599187,6.0498173 5.6943191,4.8485862 7.1384599,3.0174608 7.9364507,0.9967327 8.0722667,0.7990405 8.0132097,-0.0036492 7.2839899,1.29e-5 Z M 14.278415,0.4991697 c -0.902174,3.3100647 -3.017011,6.4521807 -6.1258333,8.7955337 -0.205474,0.129347 -0.555404,0.7420766 0.05888,1.1680776 3.5232983,1.979652 6.5489023,4.753277 8.7268293,7.869792 0.318455,0.455606 0.737799,0.335579 0.895162,0.286448 0.542041,-0.221794 0.916598,-0.708904 0.916598,-1.278922 V 1.411756 C 18.750052,0.6304957 18.047588,1.29e-5 17.173513,1.29e-5 h -2.23938 c -0.495735,0.022885 -0.64281,0.420673 -0.655722,0.4991568 z M 5.53e-5,13.595595 v 3.744504 c 0,0.781261 0.7042949,1.409913 1.5783692,1.409913 H 9.4629447 C 10.242846,18.700784 10.276682,17.872375 9.9543667,17.560986 8.7135277,16.312972 7.2834865,15.243361 5.7678772,14.447033 4.0553405,13.54724 2.3478326,13.034491 0.7538165,12.90386 0.6112358,12.886553 0.0403387,12.9628 5.53e-5,13.595595 Z"/>
		</svg>raghukamath</a>
		<button id="js-button" aria-label="Open Menu" class="hamberger">
			<svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 20 20">
  <path d="M 1.8181819,0 C 0.81090905,0 0,0.81090905 0,1.8181819 0,2.8254547 0.81090905,3.6363637 1.8181819,3.6363637 H 18.181819 C 19.189091,3.6363637 20,2.8254547 20,1.8181819 20,0.81090905 19.189091,0 18.181819,0 Z m 0,8.1818183 C 0.81090905,8.1818183 0,8.9927276 0,10.000001 c 0,1.007272 0.81090905,1.818181 1.8181819,1.818181 H 18.181819 C 19.189091,11.818182 20,11.007273 20,10.000001 20,8.9927276 19.189091,8.1818183 18.181819,8.1818183 Z m 0,8.1818187 C 0.81090905,16.363637 0,17.174545 0,18.181819 0,19.189091 0.81090905,20 1.8181819,20 H 18.181819 C 19.189091,20 20,19.189091 20,18.181819 20,17.174545 19.189091,16.363637 18.181819,16.363637 Z" fill="currentColor" />
</svg>
		</button>
		<nav id="js-dropdown" class="nav hide">
			<ul  class="menu-list">{{ range .Site.Menus.main }}<li class='menu-item'><a href="{{ .URL }}" class='nav-link {{ if or ($.Page.IsMenuCurrent "main" .) ($.Page.HasMenuCurrent "main" .) }} active {{ end }} '>{{ .Name | upper }}</a></li>{{ end }}
			</ul>
		</nav>
		<noscript> <style> #js-button, #js-dropdown {display:none;}</style>
		<nav class="nav">
			<ul  class="menu-noscript">{{ range .Site.Menus.main }}<li class='menu-noscript-item'><a href="{{ .URL }}" class='{{ if or ($.Page.IsMenuCurrent "main" .) ($.Page.HasMenuCurrent "main" .) }} active {{ end }} '>{{ .Name | upper }}</a></li>{{ end }}
			</ul>
		</nav>
		</noscript>
</header>
