<div class="post-meta">
{{if eq .Section "journal" }}
<time class="time meta dt-published" datetime="{{ .Date.Format "2006-01-02T15:04:05Z07:00" }}">
	{{- .Date.Format "Jan 2, 2006" -}}
</time>
{{ else }}
{{ with .Params.client }}<span class="meta client">Client: {{ . }}</span>{{ end }}
{{ end }}
{{ if .Params.tags }}
	{{ range $index, $tag := .Params.tags }}
		<a class="p-category tag-link" href="{{ "/" | relURL }}{{ . | urlize }}">{{ . }}</a>
	{{ end }}
  {{ end }}
</div>
