{{ if or .PrevInSection .NextInSection }}
<div class="post-nav">
	{{if .NextInSection}}
	<a class="prev" href="{{ .NextInSection.Permalink }}" class="" title="{{ .NextInSection.Title }}"><span class="arrow">&larr;</span> Prev.</a>
	{{end}}
	{{if .PrevInSection}}
	<a class="next" href="{{ .PrevInSection.Permalink }}" class="" title="{{ .PrevInSection.Title }} ">Next <span class="arrow">&rarr;</span></a>
	{{end}}
</div>
{{ end }}
