<section class="related">{{ $related := .Site.RegularPages.Related . | first 4 }}
{{ with $related }}
<h2>Related Posts</h2>
<ul>
	{{ range . }}
	<li><a href="{{ .RelPermalink }}">{{ .Title }}</a></li>
	{{ end }}
</ul>
{{ end }}
</section>
