@font-face {
	font-family: "Libre Baskerville";
	src: local("Libre Baskerville Italic"), local("LibreBaskerville-Italic"),
		url("LibreBaskerville-Italic.woff2") format("woff2"),
		url("LibreBaskerville-Italic.woff") format("woff");
	font-weight: normal;
	font-style: italic;
}

@font-face {
	font-family: "Libre Baskerville";
	src: local("Libre Baskerville"), local("LibreBaskerville-Regular"),
		url("LibreBaskerville-Regular.woff2") format("woff2"),
		url(".fonts/LibreBaskerville-Regular.woff") format("woff");
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: "Libre Baskerville";
	src: local("Libre Baskerville Bold"), local("LibreBaskerville-Bold"),
		url("LibreBaskerville-Bold.woff2") format("woff2"),
		url("fonts/LibreBaskerville-Bold.woff") format("woff");
	font-weight: bold;
	font-style: normal;
}
