{{ define "main" }}
<main class='single-page content'>
	<div class="static content-max-width">
	{{ if eq .Title "about" }}
		<div class="dp"><img src="{{.Site.BaseURL}}img/dp.jpg" alt="profile picture of Raghavendra Kamath"></div>
		<p class="drop-cap">Hello my name is Raghavendra Kamath AKA 
		'raghukamath'. I am an illustrator &amp; designer living in a suburb of 
		Mumbai called Badlapur in India.
		</p>

		<p>I have been illustrating in a variety of styles since {{ sub now.Year 2009 }} years.
		 I am a graduate from Sir J. J. Institute of Applied art. I enjoy creating realistic as well as graphic
		illustrations in various medium both traditional and digital.</p><p>My areas of interest are
		providing illustrations for advertising, editorials, picture books,
		storyboards, and comic art. Currently I am in the process of setting up my own
		<a class="link" target="_blank" href="https://emblik.studio">studio</a>.
		</p>
	<p>I am also a supporter of open source movement for the past {{ sub now.Year 2014 }} years, my workflow involves use of
		opensource tools which provide robust flexibility and great output. In my free time I enjoy reading about new opensource projects and if possible I often passionately try to help them.</p>
	<p> My recent hobby is to learn some programing languages such as C++, Python and Javascript.</p>
	<p> Drop me a line at <a class="link" href="mailto:raghu@raghukamath.com?Subject=enquiry">raghu at raghukamath dot com</a>.
	I am mostly available online on <a href="https://kiwiirc.com/client">IRC</a> at freenode as <b>raghukamath</b> or on
	 <a href="https://riot.im">Matrix</a> as <b>@raghukamath:matrix.org</b>. You can also follow me on 
	 <a href="http://mastodon.art/@raghukamath">Mastodon</a> or check my doodles and processes on my 
	 <a href= "{{.Site.BaseURL }}journal">journal</a>.
	</p>
	
	<h2>Clients:</h2><p>Free Software Foundation, Pidilite Industries, Ruchi
		Soya Industries, Axis Bank, Viacom18, Cadbury, Hindustan Unilever, Amar Chitra Katha &amp; Readers'
		Digest.</p>
		
    <h2>Interviews</h2>
    <ul>
    <li><a href="https://freetalk.show/005/" class="link">Interview by Abhas for Free Talk Show</a></li>
    <li><a href="https://krita.org/en/item/interview-with-raghavendra-kamath/" class="link">Interview on Krita.org</a></li>
    </ul>
     <h3><a class="link" href="{{.Site.BaseURL}}/reading">My Reading List &rarr;<a/></h3>

	{{ else }}
	{{ .Content }}
	{{ end }}
	</div>
</main>
{{ end }}
