<video class="video" controls="" {{ if .IsNamedParams }} poster='/img/videos-thumbs/{{ .Get "poster" }}'><source src='{{.Get "src" }}' type='video/{{ .Get "type" }}' {{ else }} poster='{{ .Get 0 }}'><source src="{{.Get 0}}" type='video/{{ .Get 0 }}' {{ end }}></video>
