{{ define "main" }}
<main class="single-content content">
	<article class="h-entry content-max-width">
		<header class="post-header">
			<h1 class="p-name">{{ .Title }}</h1>
			{{- partial "meta-post.html" . -}}
		</header>
		<div class="post-text e-content">
			{{ .Content }}
		</div>
	</article>
	{{- partial "next-prev-in-section.html" . -}}
	{{- partial "related-content.html" . -}}
	{{ if eq .Section "journal" }}
		{{- partial "comment.html" . -}}
	{{ end }}
</main>
{{ end }}
