@charset "utf-8";

/* variables */

:root {
    --base-root: 1.5rem;
    --base-relative: 1.5em;
    
    /* colors */
    --gray: #565656;
    --black: #000;
    --white: #FFF;
    --link-color: #FE7;
    --link-dark: #ffd777;
    --primary-color: var(--gray);
    --secondary-gray: #DDD;
    --light-gray: #EEE;

    /* screens */
    --screen-laptop: 1200px;

    /* fonts */
    --system-fonts: -apple-system, BlinkMacSystemFont,"Segoe UI", "Roboto", Oxygen-Sans, Ubuntu, Cantarell,"Helvetica Neue", "Open Sans", "Noto Sans", "Droid Sans", sans-serif;
}

html {
  box-sizing: border-box;
  scroll-behavior: smooth;
  animation: fade 0.45s;
}

@keyframes fade {
    from { opacity: 0; }
    to   { opacity: 1; }
}

@keyframes slidein {
  from { transform: translate(0); }
  to   { transform: translate(5px); }
}

/* remove scroll for accessibility*/

@media (prefers-reduced-motion: reduce) {
  html {
    scroll-behavior: auto;
  }
}

*, *:before, *:after {
  box-sizing: inherit;
}

/* fonts */

@font-face {
  font-family: 'Inter';
  font-style:  normal;
  font-weight: 400;
  font-display: swap;
  src: url("../fonts/Inter-Regular.woff2?v=3.13") format("woff2"),
       url("../fonts/Inter-Regular.woff?v=3.13") format("woff");
}
@font-face {
  font-family: 'Inter';
  font-style:  italic;
  font-weight: 400;
  font-display: swap;
  src: url("../fonts/Inter-Italic.woff2?v=3.13") format("woff2"),
       url("../fonts/Inter-Italic.woff?v=3.13") format("woff");
}

@font-face {
  font-family: 'Inter';
  font-style:  normal;
  font-weight: 700;
  font-display: swap;
  src: url("../fonts/Inter-Bold.woff2?v=3.13") format("woff2"),
       url("../fonts/Inter-Bold.woff?v=3.13") format("woff");
}
@font-face {
  font-family: 'Inter';
  font-style:  italic;
  font-weight: 700;
  font-display: swap;
  src: url("../fonts/Inter-BoldItalic.woff2?v=3.13") format("woff2"),
       url("../fonts/Inter-BoldItalic.woff?v=3.13") format("woff");
}

@font-face {
  font-family: 'Inter';
  font-style:  normal;
  font-weight: 900;
  font-display: swap;
  src: url("../fonts/Inter-Black.woff2?v=3.13") format("woff2"),
       url("../fonts/Inter-Black.woff?v=3.13") format("woff");
}
@font-face {
  font-family: 'Inter';
  font-style:  italic;
  font-weight: 900;
  font-display: swap;
  src: url("../fonts/Inter-BlackItalic.woff2?v=3.13") format("woff2"),
       url("../fonts/Inter-BlackItalic.woff?v=3.13") format("woff");
}



body {
    font-family: "Inter", var(--system-fonts);
    font-size: 1.15rem;
    font-kerning: normal;
    letter-spacing:normal;
    font-style: normal;
    line-height: 1.65;
    color: var(--gray);
    fill: var(--gray);
    max-width: var(--screen-laptop);
    margin: 0 auto;
}

/* typography */

h1,
h2,
h3,
h4,
h5,
h6 {
    line-height: 1.25;
    margin-top: calc(var(--base-relative)*1.5);
    margin-bottom: calc(var(--base-relative)/1.5);
}

h1 {
    font-size: 1.65em;
}

h2 {
    font-size: 1.25em;
}

h3,
h4,
h5,
h6 {
}

table {
    border-spacing: 0;
    border-collapse: collapse;
    max-width: 46.971em;
    width: 100%
}

table tr {
    background-color: var(--white);
    border-top: 1px solid var(--secondary-gray);
}

table td, table th {
    padding: calc(var(--base-relative)/2);
    border: 1px solid var(--secondary-gray);
}

table tr:nth-child(2n), table th {
    background-color: var(--light-gray);
}

/* page content */

.site-header {
    font-weight: 700;
    letter-spacing: 1px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    margin: var(--base-root);
    line-height: 1;
}

.logo {
    text-transform: uppercase;
    display: flex;
    align-items: center;
}

.logo svg {
    margin-right: .5rem;
}

/**  js  **/
.hide {
    display: none;
}

@media screen and (min-width: 720px) {
    .hide {
        display: block;
    }
}

.nav {
    width: 100%;
    border-bottom: 2px dotted var(--secondary-gray);
}

@media screen and (min-width: 720px) {
    .nav {
        width: unset;
        border: 0;
    }
}

.hamberger {
    padding: 0;
    margin: 0;
    line-height: 0;
    background-color: var(--white);
    border: none;
    color: var(--gray);
}

@media screen and (min-width: 720px) {
    .hamberger {
        display: none;
    }
}

.menu-list {
    margin-top: 0;
    padding: 0;
}

.menu-item {
    list-style: none;
}

.menu-noscript {
    margin: var(--base-root) 0;
    padding: 0;
    display: flex;
    flex-wrap: wrap;
}

.menu-noscript-item {
    list-style: none;
    margin-right: calc(var(--base-root)*1.5);
}

.nav-link {
    display: block;
    margin: var(--base-root) 0;
}

.menu-item:last-child a {
    margin-right: 0;
}

@media screen and (min-width: 720px) {
    .menu-item {
        display: inline-block;
    }

    .menu-list {
        margin: 0;
    }

    .nav-link {
        margin:0 calc(var(--base-root)*1.5) 0 0;
    }
}

.active {
    color: #000;
}

.intro-text {
    margin: calc(var(--base-root)*2.5) auto;
    text-align: center;
    padding: var(--base-root);
}

.divider {
    border: 0;
    overflow: visible;
    border-bottom: 2px dotted var(--secondary-gray);
    margin: calc(var(--base-root)*1.75) var(--base-root);
}

.content,
.tag-title {
    margin: calc(var(--base-root)*1.75) var(--base-root);
}

/* post navigation */
.post-nav {
    display: flex;
    justify-content: space-between;
    margin-top: var(--base-root);
    margin-bottom: var(--base-root);
    border-top: 1px dashed var(--secondary-gray);
    border-bottom: 1px dashed var(--secondary-gray);
}


.next {
    margin-left: auto;
    padding: calc(var(--base-root)/3) 0;
}

.prev {
    margin-right: auto;
    padding: calc(var(--base-root)/3) 0;
}

.post h2 {
    margin-top: calc(var(--base-relative)/2);
    margin-bottom: calc(var(--base-relative)/4);
}

.list .summary {
    margin: 0;
}

.dp img,
.thumb {
    border-radius: calc(var(--base-root) / 3);
}

.related {
    margin-bottom: calc(var(--base-root)*1.75);
}

.comments {
    border-top: 1px dashed var(--secondary-gray);
}


/*single post*/
.post-header h1 {
    margin-bottom: calc(var(--base-relative)/3);
}

.post-text {
    margin: var(--base-root) 0;
}

article {
    margin: 0 auto;
}


.single-page {
    margin-top: calc(var(--base-relative)*2.5);
}

@media screen and (min-width: 720px) {
.static {
    margin-left: auto;
    margin-right: auto;
}
}
/* font size */

.intro-text,
.content-max-width {
    max-width: 45rem;
}

/* elements */

img {
    max-width: 100%;
}

.figure {
    margin: 0 auto;
}

.fig-caption {
    text-align: center;
    font-style: italic;
    margin-top: calc(var(--base-relative)/2);
    font-size: calc(var(--base-relative)/2);
}

a {
    text-decoration: none;
    color: var(--gray);
    transition: background-color 0.2s ease-out, color 0.2s ease-out, box-shadow 0.1s ease-out, fill 0.2s ease-out;
}

a:hover {
    color: var(--black);
    fill: var(--black);
}

.active,
.post-text a,
.link,
table td a {
    text-decoration: underline;
    text-decoration-color: var(--link-color);
    text-decoration-thickness: 3px;
}

.post-text a:hover,
.link:hover,
.to-top:hover,
table td a:hover {
    background-color: var(--link-color);
    border-bottom: 0;
    box-shadow: 0 0 0 3px var(--link-color);
    border-radius: calc(var(--base-root)/6);
}

.prev:hover .arrow,
.next:hover .arrow,
.link:hover .arrow {
      animation: .35s ease-out infinite alternate slidein;
}


/* grids */
.grid-of-three,
.grid-of-two {
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: calc(var(--base-root)*1.75);
    margin-bottom: calc(var(--base-root)*1.75);
}

@media screen and (min-width: 720px) {
    .grid-of-three {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
    }

    .grid-of-two {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
    }
}

/* custom css */

::selection {
    background-color: var(--secondary-gray);
}

.arrow {
    line-height: 1;
    display: inline-block;
}


.dp {
    text-align: center;
}

.thumb {
    display: block;
    width: 100%;
}

.work-post {
    max-width: 400px;
}

.work-post:hover {
    filter: drop-shadow(0 0 0.25rem var(--gray));
    transition: filter 0.3s ease-in;
}

.work-post,
.post {
    width: 100%;
}

@media screen and (min-width: 720px) {
    .post {
        max-width: 600px;
    }
}

.post-meta {
    display: flex;
    font-size: calc(var(--base-relative)/2);
    text-transform: capitalize;
    flex-wrap: wrap;
    align-items: center;
    line-height:1;
}

.quote {
    background-color: #fffcea;
    margin: calc(var(--base-relative)/1.5) 0;
    padding: calc(var(--base-relative)/2);
    border-left: 3px solid var(--link-color);
}

.raw-para {
    padding: 0;
    margin: 0;
}

.raw-para a:hover {
    box-shadow: none;
    background-color: none;
}

.tag-cloud {
    margin: 0;
    padding: 0;
    text-transform: capitalize;
}

.tag-list-item {
    display: inline-block;
    margin-bottom: calc(var(--base-root)/2);
}


.tag-link {
    padding: calc(var(--base-root)/8) calc(var(--base-root)/4);
    background-color: var(--light-gray);
    border-radius: calc(var(--base-root)/6);
    margin-right: calc(var(--base-root)/3);
    margin-bottom: calc(var(--base-root)/3);
}

.tag-link:hover {
    background-color: var(--link-color);
}

.post-text img {
    display: block;
    margin: 0 auto;
}


.post-text .thumb {
    border-bottom: unset;
    padding-bottom: 0;
    font-style: unset;
}

.post-text .thumb img {
    border-radius: 0;
}

.post-text .thumb:hover {
    background-color: unset;
    border-bottom: unset;
    box-shadow: unset;
}

.to-top {
    cursor: pointer;
    margin: calc(var(--base-root)*1.75) auto;
    display: block;
    font-size: calc(var(--base-relative)/1.5);
    border: 0;
    background: none;
    font-weight: 700;
    width: 124px;
    text-align: center;
}

.video {
    width: 100%;
    height: auto;
}

.time,
.client{
    margin-right: calc(var(--base-root)/3);
    margin-bottom: calc(var(--base-root)/3);
}
